<!Doctype html>
{% extends 'journals/base.html' %}

{% load static %}

{% block content %}
{% if journal_list %}
	<head>
		<title>My Online Journal</title>
	</head>
	<body>
		<section class="hero">
			<div class="hero-inner">
				<div class="container" style="width: 970px">
					<img class="book" src="{% static 'journals/images/book.jpg' %}" alt="Picture of a book" style="width:100%;" />
					<div class="centered">
						<h1 style="color:white;" class="outline">My Online Journal</h1>
						<h2 style="color:white;" class="outline">Personal writing without the paper<h2>
					</div>
				</div>
			</div>
		</section>
	</body>
	
	<div>
		<a class="button button-primary" href="{% url 'journals:new_journal' %}">New Journal Entry</a>
	</div>
	
	<table class="table">
	    <thread class="thread-inverse">
    	    <tr>
    	        <th>Journal name</th>
    	        <th>Date created</th>
    	    </tr>
	    </thread>
	    <tbody>
	        {% for journal in journal_list %}
	            <tr>
	                <td><a href="{% url 'journals:detail' journal.id %}">{{ journal.title }}</a></td>
	                <td><a>{{ journal.created_at }}</a></td>
	                <td></td>
	            </tr>
            {% endfor %}
	    </tbody>
	</table>
{% endif %}
{% endblock %}

